# Ansible Managed

Port 22
ListenAddress 0.0.0.0
ListenAddress ::

PermitRootLogin no
MaxAuthTries 6
MaxSessions 10

PubkeyAuthentication yes

PasswordAuthentication no
PermitEmptyPasswords no

ChallengeResponseAuthentication no

UsePAM yes

AllowTcpForwarding yes
X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

AcceptEnv LANG LC_*
